<section id="contact">
  <img src="assets/img/bg3.png" alt="img" loading="lazy" class="img-contact" />

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="column-contact">
        <div class="div-contact">
          <h2 class="title-contact">Contact</h2>
          <p class="txt-contact">
            Si está interesado en trabajar conmigo en su próximo proyecto, no
            dude en ponerse en contacto.
          </p>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-input placeholder="Your name"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-input placeholder="Your email"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-textarea placeholder="Your Message"></ion-textarea>
            </ion-item>
            <ion-button class="btn-contact" mode="md"><span>Send Message</span></ion-button>
          </ion-col>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>