<section id="projects">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2 class="title-projects">
          Parece magia, <br />
          funciona con código.
        </h2>
        <p class="txt-projects">
          A lo largo de mi carrera como Frontend, he tenido el privilegio de
          trabajar en proyectos retadores e increíbles.
        </p>
      </ion-col>
      <ion-col size="12" class="column">
        <div>
          <img
            src="assets/img/bg.png"
            alt="img"
            loading="lazy"
            class="img-project"
          />
        </div>
        <div class="section">
          <h4>Príncipe fresco</h4>
          <p>
            La serie está protagonizada por Will Smith como una versión ficticia
            de sí mismo , un callejero.
          </p>
          <div class="btn">
            <ion-row>
              <ion-col size="12">
                <ion-button fill="outline" class="btn-without" mode="md"
                  ><span>Ver código</span></ion-button
                >
              </ion-col>
              <ion-col size="12">
                <ion-button class="btn-view" mode="md"
                  ><span>Ver proyecto completo</span></ion-button
                >
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
      <ion-col size="12" class="column">
        <div>
          <img
            src="assets/img/bg1.jpg"
            alt="img"
            loading="lazy"
            class="img-project"
          />
        </div>
        <div class="section">
          <h4>NIKO</h4>
          <p>
            Niko es una de las marcas y proveedores de equipamiento deportivo
            más reconocidas y valiosas en todo el mundo.
          </p>
          <div class="btn">
            <ion-row>
              <ion-col size="12">
                <ion-button fill="outline" class="btn-without" mode="md"
                  ><span>Ver código</span></ion-button
                >
              </ion-col>
              <ion-col size="12">
                <ion-button class="btn-view" mode="md"
                  ><span>Ver proyecto completo</span></ion-button
                >
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
      <ion-col size="12" class="column">
        <div>
          <img
            src="assets/img/bg2.png"
            alt="img"
            loading="lazy"
            class="img-project"
          />
        </div>
        <div class="section">
          <h4>Amazonas</h4>
          <p>
            Amazonas es la empresa en internet de venta al por menor más grande
            del mundo, donde puedes encontrar prácticamente...
          </p>
          <div class="btn">
            <ion-row>
              <ion-col size="12">
                <ion-button fill="outline" class="btn-without" mode="md"
                  ><span>Ver código</span></ion-button
                >
              </ion-col>
              <ion-col size="12">
                <ion-button class="btn-view" mode="md"
                  ><span>Ver proyecto completo</span></ion-button
                >
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="btn-containt">
          <ion-button class="btn-viewmore" fill="outline" mode="md"><span>View more projects</span> <ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>