<section id="services">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1 class="title-services">Services</h1>
        <p class="txt-one">Diseño</p>
        <div class="list">
          <ul>
            <li><a href="">Experiencia de usuario</a></li>
            <li><a href="">Interfaz de usuario</a></li>
            <li><a href="">Aplicaciones web</a></li>
            <li><a href="">Prueba de concepto</a></li>
          </ul>
          <ion-button class="btn-viewservices" mode="md"
            ><span>Ver servicios de diseño</span></ion-button
          >
        </div>
        <p class="txt-one">Desarrollo</p>
        <div class="list">
          <ul>
            <li><a href="">Aplicaciones Móviles</a></li>
            <li><a href="">Sitios web</a></li>
            <li><a href="">Aplicaciones web progresivas</a></li>
            <ion-button class="btn-viewservices" mode="md"
              ><span>Ver servicios de desarrollo</span></ion-button
            >
          </ul>
        </div>
        <p class="txt-one">Marca</p>
        <div class="list">
          <ul>
            <li><a href="">Identidad de la marca</a></li>
            <li><a href="">Estrategia de la marca</a></li>
            <ion-button class="btn-viewservices" mode="md"
              ><span>Ver servicios de marca</span></ion-button
            >
          </ul>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>