<section id="testimonials">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1 class="title-testimonials">Testimonials</h1>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="assets/img/profile.png" />
          </ion-avatar>
          <ion-label>Juan Antonio</ion-label>
        </ion-item>
        <p class="txt-testimonials">
          Tengo algunos años trabajando con Javascript y aún así aprendí varias
          cosas importantes de Antonio y como utiliza Javascript en el día a
          día.
        </p>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="assets/img/profile3.png" />
          </ion-avatar>
          <ion-label>David Florez</ion-label>
        </ion-item>
        <p class="txt-testimonials">
          Tengo algunos años trabajando con Javascript y aún así aprendí varias
          cosas importantes de Antonio y como utiliza Javascript en el día a
          día.
        </p>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="assets/img/profile2.png" />
          </ion-avatar>
          <ion-label>Eleanor Pena</ion-label>
        </ion-item>
        <p class="txt-testimonials">
          Antonio ha sido de gran ayuda para acelerar ciertos esfuerzos de
          desarrollo. Lo que nos hubiera llevado 6 meses solo les llevó 1,5
          meses.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>